<section class="comment-area">
  <div class="comment-wrapper">
    {% if site.discus-identifier %}
    <div id="disqus_thread" class="article-comments"></div>
    <script>
      (function() {
          var d = document, s = d.createElement('script');
          s.src = '//{{ site.discus-identifier }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
    <div loading="lazy" data-mc-src="86bf74ab-283c-487d-83ed-b2ecc048dcd1"></div>
    <script src="https://cdn2.woxo.tech/a.js#63c0cac95b02ae677d83bbf7" async data-usrc></script>
  </div>
</section> <!-- End Comment Area -->
